.educations {
  width: 100%;
  margin: 0 auto;
  .education-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 3rem;
    margin: 50px auto;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      h4 {
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          color: $mainColor;
        }
      }
      .card-img {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 48%;
        img {
          width: 100%;
          display: block;
          transition: all 0.7s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
